*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    line-height: 30px;
}

section{
    padding-block: 50px ;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
}

.col-4{
    width: calc(100% / 3 - 10px);
}

.col-8{
    width: calc(100% / 3 * 2 - 10px);
}

.col-6{
    width: 50%;
}

.card{
    max-width: 100%;
    height: 430px;
    overflow: hidden;
    position: relative;
}

.card-img{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ----news section----- */
.news .the-news{
    position: relative;
}
.news .the-news::before{
    content: "In the News";
    z-index: 2;
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 8px 15px;
    color: gray;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row.row1{
    gap: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.news .row.row1 .col-6:nth-child(1){
    width: calc(50% + 15px);
}

.news .row.row1 .col-6:nth-child(2){
    width: calc(50% - 15px);
    position: relative;
}

.news .row.row1 .col-6:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 50px;
    left: -25px;
    z-index: 1;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 25px 20px 0;
    border-color: transparent #fff transparent transparent;
    transform: rotate(0deg);
}

.news .press-release{
    padding: 40px;
}
.news .press-release h4{
    color: blue;
}
.news .press-release h3{
    margin-top: 70px;
    font-size: 25px;
}

.news .card .card-content div {
    max-width: 100%;
}
.news div p{
    max-width: 85%;
}

.news .press-release p,
.news .card .card-content .content,
.news .facts div{
    width: 280px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 2px solid orange;
}

.news .card .card-content .content{
    border-left: 2px solid #fff;
}

.news .card .card-content .facts{
    padding: 40px;
    height: 430px;

}

.news .card .content .card-content{
    margin: 20px;
}

.news .card .content{
    position: absolute;
    color:#fff;
    top: 100px;
}

.news .col-4:nth-child(3) .card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 38, 71, 0.7);
}

.news .col-8:nth-child(4) .card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 154, 23, 1) 0%, rgba(218, 87, 97, 1) 40% , rgba(218, 87, 97, 0.8) 60% , transparent 90%);
}


/* -----responsive----- */
@media (max-width: 1200px) {
    .news{
        padding-inline: 25px;
    }

    .container{
        max-width: 1000px;
    }

    .card{
        height: 370px;
    }
    .news .press-release h3{
    margin-top: 50px;
    font-size: 20px;
    }

    .limit-3line-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 800px;
    }

    .card{
        height: 370px;
    }
    .news .press-release h3{
    margin-top: 50px;
    font-size: 20px;
    }

    .limit-3line-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    }

    .limit-6line-text{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient:vertical;
    overflow: hidden;
    }
}

@media (max-width: 991px) {
    .col-8{
        width: 100%;
    }
    .col-4{
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 574px) {

    .col-8{
        width: 100%;
    }
    .col-6{
        width: 100% !important;
    }
    .col-4{
        width: 100%;
    }

    .news .row.row1 .col-6:nth-child(2)::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 25px;
    z-index: 1;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 18px 20px 18px;
    border-color: transparent transparent #fff transparent;
    transform: rotate(0deg);
    }
}